.Rproj.user
.Rhistory
.RData
.Ruserdata
Heatwaves preliminary results.gslides
Cascade hourly sonde data 2013 - 2015.csv
Cascade hourly sonde data 2008 - 2011.csv
slopes.csv
weather_and_tchain_2013_2014_2015.csv
UNDERC_22August2018_Peter_Lake_2018.csv
UNDERC_-_Peter_Lake_06September2019.csv